# Entorno virtual
env/
ENV/
.venv/
venv/
static/
documentos/
# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Configuraciones locales
*.env
.env

# Archivos de base de datos SQLite
*.sqlite3

# Archivos de log
*.log

#
