asgiref==3.9.1
cffi==2.0.0
cryptography==46.0.3
dj-database-url==3.1.2
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
et_xmlfile==2.0.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.3.0
pycparser==2.23
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.2.1
sqlparse==0.5.3
typing_extensions==4.14.1
whitenoise==6.11.0
gunicorn==23.0.0
setuptools
